body {
  font-family: "Open Sans", sans-serif;
}
p {
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
  padding: 20px 0;
}
.top {
  background: #0285af;
}
.top h1 {
  padding: 50px 0 10px;
  color: white;
}
.main h2 {
  text-align: left;
}
.title {
  display: block;
  text-align: center;
}
.form-control {
  margin-bottom: 11px;
  display: inline-block;
  width: 100%;
  height: 36px;
  font-size: 1rem;
  font-weight: 100;
}
.container {
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.main {
  padding: 100px 0px;
  text-align: center;
  margin-top: -64px;
}
button:focus {
  outline: 0;
}
.btn-primary {
  color: #fff;
  background-color: black;
  border: 0px;
  width: 150px;
  font-size: 1.1rem;
  padding: 8px;
  margin-top: 30px;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
}
p.back {
  margin-top: 60px;
}
a.large {
  color: #fff;
  background-color: black;
  font-size: 20px;
  padding: 12px 36px;
  width: 250px;
  text-decoration: none;
}
.btn-primary:hover,
.btn-primary:active:hover,
a.large:hover,
a.large:active:hover {
  background-color: #49bcf2;
}
nav {
  width: 80%;
}
ul li a {
  list-style: none;
  font-size: 22px;
  background-color: black;
  color: white;
  line-height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0;
  padding: 10px 30px;
  border-radius: 5px 5px 0 0;
  border: 1px solid black;
  border-bottom: 0;
}
ul li a:hover,
ul li a:active:hover {
  background-color: #49bcf2;
  border: 1px solid #49bcf2;
  color: white;
  text-decoration: none;
}
ul li a.active {
  background-color: white;
  border: 1px solid rgb(95, 95, 124);
  color: black;
  border-bottom: 0px;
}

ul li {
  list-style: none;
  display: inline;
}
ul {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
  float: right;
}
hr {
  border-bottom: 1px solid #b8b8b8;
  border-top: 0px;
  height: 46px;
}
label {
  float: left;
  font-size: 1rem;
  margin-bottom: 2px;
}
.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #8f8f8f;
  opacity: 0.5; /* Firefox */
}
.list_panel {
  display: inline-block;
  vertical-align: top;
  border: 1px solid grey;
  margin-top: 31px;
  height: 540px;
  overflow: scroll;
}
.entry_panel {
  float: right;
  background-color: #e5e4e4;
  padding: 10px 25px 60px;
  margin-top: 30px;
}
#dataEntry {
  border-bottom: 1px solid white;
  background-color: #8db1dd;
}
#dataTrail {
  font-size: 1.3em;
  line-height: 1.6em;
  padding: 10px 15px;
  margin-bottom: 0;
}
#time,
#meet {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0px 15px;
  display: inline-block;
  justify-content: left;
  width: 49%;
  background-color: white;
}
#dataNote {
  font-size: 1em;
  line-height: 1.5em;
  display: block;
  text-align: left;
  background-color: #d7e2ef;
  margin: 0 10px 20px;
  padding: 5px;
}
.details {
  text-align: center;
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
}
#delete {
  float: right;
  padding: 12px;
}
#update {
  border: 1px solid rgb(171, 177, 226);
  border-radius: 2px;
  font-size: 1.2em;
  padding: 1px 6px;
  margin: 5px;
}
ul.action {
  float: right;
}
.container {
  margin-bottom: 120px;
}
#updater {
  width: 150px;
  padding: 8px;
  text-align: center;
}
button,
button:active,
button:hover,
button:active:hover {
  border: 0px solid transparent;
  color: white;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .entry_panel {
    padding: 10px 12px 60px;
  }
}
